<div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
  <!-- <div class="peer"><img src="https://randomuser.me/api/portraits/men/1.jpg" alt="" class="w-3r h-3r bdrs-50p"></div> -->
  <span class="span">{{task.details| firstChar}}</span>
  <div class="peer peer-greed pL-20">
    <h6 class="mB-0 lh-1 fw-400">{{task.details}}</h6>
    <div [ngClass]="task.color">
      <i class="fa fa-clock-o"></i>
      <small class="lh-1">{{task.days}}</small>
    </div>    
  </div>
  <i class="fa fa-ellipsis-v fa-options"></i>
  <span class="glyphicon glyphicon-option-vertical"></span>
</div>