.content-top {
  padding-top: 6px;
  padding-bottom: 17px;
}

h1.al-title {
  font-weight: 10px;
  //color: $default-text;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 24px;
  opacity: 0.9;
  font-weight: bold;
}

