.fxg-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.w-100 {
    width: 100%!important;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.layers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ps__rail-x, .ps__rail-y {
    display: none;
    opacity: 0;
    -o-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    position: absolute;
}

.ps__rail-x {
    height: 15px;
    bottom: 0;
}

.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps__rail-y {
    right: 0!important;
    left: auto!important;
}

.ps__rail-y {
    width: 15px;
    right: 0;
}

.ps__rail-x, .ps__rail-y {
    display: none;
    opacity: 0;
    -o-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    position: absolute;
}

.ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y {
    background-color: #999;
    width: 11px;
}

.span {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 39px;
    border-radius: 30px;
    background-color:CornflowerBlue;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    align-self: center;
}

.card-header{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    padding: 0.75rem 10px;
}

.status{
    display: flex;
    margin-left: auto;
}

.card-title {
    margin-bottom: 0px;
    align-self: center;
}

.pink  {
    background-color: DeepPink ;
}