<div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
    <div class="peer z-index"><img src="{{activity.photo}}" alt="" class="w-3r h-3r bdrs-50p span "></div>
    <div class="peer peer-greed pL-20">
      <div class="flex">
        <small><strong class="margin-right">{{activity.name}}</strong><span class="grey">{{activity.action}}</span><strong class="margin-left">{{activity.feature}}</strong></small>
        <div class="grey">
            <i class="fa fa-clock-o"></i>
            <small class="lh-1">{{activity.time}}</small>
          </div> 
      </div>
    </div>
  </div>






<!-- <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
    <div class="peer"><img src="{{activity.photo}}" alt="" class="w-3r h-3r bdrs-50p"></div>
    <div class="peer peer-greed pL-20">
      <h6 class="mB-0 lh-1 fw-400">{{activity.name}}</h6>
      <small class="lh-1 c-green-500">{{activity.time}}</small>
    </div>
  </div> -->