<div class="row">
    <app-card class="col-xlg-5 col-xl-5 col-lg-12 col-sm-12 col-12" cardTitle="Your Sales">
    <!-- <div class="col-xlg-5 col-xl-5 col-lg-12 col-sm-12 col-12"> -->
        <app-doughnut-chart></app-doughnut-chart>
    <!-- </div> -->

    </app-card>

    <app-card class="col-xlg-7 col-xl-7 col-lg-12 col-sm-12 col-12" cardTitle="Report">
        <app-line-chart></app-line-chart>
        <!-- <app-line-chart baChartistChartClass="ct-chart" baChartistChartType="Line" [baChartistChartData]="data['simpleLineData']"
            [baChartistChartOptions]="data['simpleLineOptions']">

        </app-line-chart> -->

        <!-- <ba-chartist-chart baChartistChartClass="ct-chart" baChartistChartType="Line" [baChartistChartData]="data['simpleLineData']"
            [baChartistChartOptions]="data['simpleLineOptions']">
        </ba-chartist-chart> -->
    </app-card>



    <!-- <app-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
        <traffic-chart></traffic-chart>
    </app-card> -->

    <!-- <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="dashboard.users_by_country" baCardClass="medium-card">
        <users-map></users-map>
    </ba-card> -->
</div>
<br/>
<div class="row">
    <!-- <app-card class="col-xlg-4 col-xl-4 col-lg-12 col-sm-12 col-12" cardTitle="Tasks"> -->
    <div class="col-xlg-4 col-xl-4 col-lg-12 col-sm-12 col-12">
        <app-tasks></app-tasks>
    </div>

    <!-- </app-card> -->
    <!-- <app-card class="col-xlg-4 col-xl-4 col-lg-12 col-sm-12 col-12" cardTitle="Messages"> -->
    <div class="col-xlg-4 col-xl-4 col-lg-12 col-sm-12 col-12">
        <app-messages></app-messages>
    </div>

    <!-- </app-card> -->
    <div class="col-xlg-4 col-xl-4 col-lg-12 col-sm-12 col-12">
        <app-activities></app-activities>
    </div>
</div>