<div class="row">
  <app-card _ngcontent-c9="" bacardclass="traffic-panel medium-card" cardtitle="dashboard.acquisition_channels" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
    <div
      bacardblur="" zoom-in="" class="animated fadeIn card traffic-panel medium-card">
      <!---->
      <div class="card-header clearfix">
        <h3 class="card-title" translate="">Acquisition Channels</h3>
      </div>
      <div class="card-body">

      <app-pie-chart></app-pie-chart>

      </div>
    </div>
  </app-card>
</div>