<div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
  <div class="peer"><img src="{{message.photo}}" alt="" class="w-3r h-3r bdrs-50p span"></div>
  <div class="peer peer-greed pL-20">
    <div class="flex">
      <small><strong class="margin-right">{{message.name}}</strong><span class="grey">{{message.time}}</span></small>
      <small class="">{{message.message}}</small>
      <div class="grey">
        <i class="fa fa-reply"></i>
        <i class="fa fa-gear"></i>
      </div>
    </div>
  </div>
</div>